<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyecto1.pdm.fia.ues.sv.valoracionestablecimientos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuPrincipalActivity"/>
        <activity android:name=".ClienteMenuActivity" />
        <activity android:name=".EncargadoMenuActivity" />
        <activity android:name=".ClienteInsertarActivity" />
        <activity android:name=".ClienteActualizarActivity" />
        <activity android:name=".ClienteEliminarActivity" />
        <activity android:name=".ClienteConsultarActivity" />
        <activity android:name=".EncargadoInsertarActivity" />
        <activity android:name=".EncargadoActualizarActivity" />
        <activity android:name=".EncargadoEliminarActivity" />
        <activity android:name=".EncargadoConsultarActivity" />
        <activity android:name=".DepartamentoMenuActivity" />
        <activity android:name=".DepartamentoActualizarActivity" />
        <activity android:name=".DepartamentoConsultarActivity" />
        <activity android:name=".DepartamentoEliminarActivity" />
        <activity android:name=".DepartamentoInsertarActivity" />
        <activity android:name=".MunicipioMenuActivity" />
        <activity android:name=".MunicipioActualizarActivity" />
        <activity android:name=".MunicipioConsultarActivity" />
        <activity android:name=".MunicipioEliminarActivity" />
        <activity android:name=".MunicipioInsertarActivity" />
        <activity android:name=".EstablecActualizarActivity" />
        <activity android:name=".EstablecConsultarActivity" />
        <activity android:name=".EstablecEliminarActivity" />
        <activity android:name=".EstablecInsertarActivity" />
        <activity android:name=".EstablecMenuActivity" />
        <activity android:name=".TiEsActualizarActivity" />
        <activity android:name=".TiEsConsultarActivity" />
        <activity android:name=".TiEsEliminarActivity" />
        <activity android:name=".TiEsMenuActivity" />
        <activity android:name=".TiEstInsertarActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

